* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #5CA5A5;
  --secondary-color: #7c8f8f;
  --font-family: "League Spartan", sans-serif;
  --job-title-color: #000000; 
}

body {
 background-color: #EFFAFA;
}

.fill-bg {
 width: 100%;
 background-color: #5CA5A5;
}


.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.job-listing-card-container {
  display: flex;
  flex-direction: column;
}

.job-listing-card {
  background-color: #FFFFFF; 
  border-radius: 1em;
  padding: 31px 45px;
  margin: 16px 24px;

  display: flex;
  gap: 24px;
}

@media (max-width: 768px) {
  .job-listing-card {
   display: block;
  }
}

.job-listing-card-tag-list-container ul {
  display: flex;
  list-style: none;
  gap: 8px;
}

.job-listing-card-tag-list-container li {
  background-color: #EFFAFA; 
  padding: 4px 8px;
  border-radius: 4px;
}

.job-listing-card-description {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 500;
  color: var(--secondary-color);
}

.job-listing-card-description .job-listing-card-company-name,
.job-listing-card-tag-list-container ul {
  color: var(--primary-color);
  font-family: var(--font-family);
}

.job-listing-card-description .job-listing-card-job-title, .job-listing-card-tag-list-container {
  font-weight: 700;
  color: var(--job-title-color);
}

.job-listing-card-description {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-grow: 2;
}

.job-listing-card-tag-list-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.job-listing-card-filter-list {
  display: flex;
  gap: 8px;
}